*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0e8ea5;

}



.title-area{
    display:inline;
    
}

.title-font{
    font-size:150px;
    transform: rotate(-30deg);
    font-family:'Luckiest Guy';
    color:aliceblue;
    float:left;
    margin-top:10rem;
}
iframe{

    float:right;
    margin-top:10px;
    margin-right:70px;
    border:none;
    
}

.food-list{

    
    display:inline-flex;
    margin-top:15gitrem;
    margin-bottom:5rem;
    white-space:nowrap;
    max-height: 35rem;
  
   

    
}

.food-img{

   
    width:18rem;
    height:18rem;
    
    
    
    

    
}

.food-item{

    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction:column;
    margin-left:5rem;
   
    box-shadow: 0px 30px 100px #0c363e;
    border-radius: 20px;
    width:28rem;
    height:23rem;
    background-color: #0fa1ba;
    transition: 0.5s;
}

.food-list>.food-item:hover{

    
 
    width:31rem;
    height:36rem;
    z-index:5;
    transition: 1s;
   

}

hr{
    width:90%;

}

.food-title{

    color:aliceblue;
    font-size: 50px;
    font-family: 'Fjalla One';
}

.food-info{

    visibility: hidden;
   
}

.info-h1{

    font-size: 5rem;
    color:aliceblue;
    padding-left:10%;
    
}