body{
    box-sizing: border-box;
    background-color: #ebeff0;
}

.title-blk{
  
    font-size:9em;
    background-color: #839292;
    
    position: absolute;
    width:99%;
    margin-left:0px;
  
    margin-top:0px;
    font-family: "Audiowide", sans-serif;
    border-radius: 50px;
  

    
}

.title-blk>p{

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width:600px;
   color: #ebeff0;
    align-content: center;
    align-items: center;

  

}

#t1{

    position:relative;
   
   
    margin-top:20px;
    margin-bottom: -40px;
    padding-left: 5%;
}

#t2{
    position:relative;

    margin-top:-40px;
    padding-left: 9%;
    margin-bottom: -10px;
    
}